.flex {
  display: flex;
}
.justify-center {
  justify-content: center;
}
.items-center {
  align-items: center;
}
.rounded {
  border-radius: 8px;
}
.m-1 {
  margin: 8px;
}
.p-1 {
  padding: 10px;
}
.invert {
  filter: invert(1);
}

.bg-black {
  background: #000;
  color: white;
}

.bg-grey {
  background: #121212;
}

/* Scrollbar */
::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-thumb {
  background: #333;
  border-radius: 8px;
}
::-webkit-scrollbar-track {
  background: #121212;
}
